<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <context-param>
        <param-name>school</param-name>
        <param-value>KIT</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>                                           <!--needed-->
        <servlet-name>Next</servlet-name>               <!--needed-->
        <jsp-file>/Next.jsp</jsp-file>                  <!--we don't next to put an extention in action in the index.jsp-->
        <init-param>                                    <!--needed-->
            <param-name>color</param-name>              <!--needed-->
            <param-value>blue</param-value>             <!--needed-->   
        </init-param>                                   <!--needed-->
    </servlet>                                           <!--needed-->
    <servlet-mapping>                                   <!--needed-->
        <servlet-name>Next</servlet-name>               <!--needed-->
        <url-pattern>/Next</url-pattern>                <!--needed-->
    </servlet-mapping>                                  <!--needed-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
